<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="portable.accord.core" version="3.0.2.50804" targetFramework="win81" />
  <package id="portable.accord.imaging" version="3.0.2.50804" targetFramework="win81" />
  <package id="portable.accord.io" version="3.0.2.50804" targetFramework="win81" />
  <package id="portable.accord.machinelearning" version="3.0.2.50804" targetFramework="win81" />
  <package id="portable.accord.math" version="3.0.2.50804" targetFramework="win81" />
  <package id="portable.accord.neuro" version="3.0.2.50804" targetFramework="win81" />
  <package id="portable.accord.statistics" version="3.0.2.50804" targetFramework="win81" />
  <package id="portable.aforge.core" version="2.2.5.50513" targetFramework="win81" />
  <package id="portable.aforge.fuzzy" version="2.2.5.50513" targetFramework="win81" />
  <package id="portable.aforge.genetic" version="2.2.5.50513" targetFramework="win81" />
  <package id="portable.aforge.imaging" version="2.2.5.50513" targetFramework="win81" />
  <package id="portable.aforge.imaging.formats" version="2.2.5.50513" targetFramework="win81" />
  <package id="portable.aforge.machinelearning" version="2.2.5.50513" targetFramework="win81" />
  <package id="portable.aforge.math" version="2.2.5.50513" targetFramework="win81" />
  <package id="portable.aforge.neuro" version="2.2.5.50513" targetFramework="win81" />
  <package id="portable.aforge.vision" version="2.2.5.50513" targetFramework="win81" />
  <package id="shim" version="2.0.0" targetFramework="win81" />
  <package id="shim.drawing" version="2.2.5.50526" targetFramework="win81" />
</packages>